<H1>
    Activities
</H1>


<table mat-table [dataSource]="activities" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : 'mediumTime'}} </td>
    </ng-container>   
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Instance</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>   
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
    </ng-container>       
    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>    
    <tr align="left" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr align="left" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
</table>

<!--
<mat-list dense *ngFor="let item of activities">
    <mat-list-item> {{item.date | date : 'mediumTime'}} : {{item.name}} : {{item.action}} : {{item.state}} </mat-list-item>
</mat-list>
-->


